# Dependencies
node_modules/

# Build outputs
dist/
dist-electron/
release/

# Logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.local
.env.*.local
